/*--- Template Code For Single Page ---*/

header.bkbm-single-header div.bkbm-featured-img-container {
  display: block;
  margin-bottom: 24px;
  clear: both;
  box-sizing: border-box;
}

header.bkbm-single-header div.bkbm-featured-img-container img {
  max-width: 100%;
  border: 0px;
  border-radius: 0px;
}

div.bkbm-entry-content {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 1.6rem;
  font-size: inherit;
  font-family: inherit;
  padding-right: 0px;

  img {
    max-width: 100%;
  }

  a,
  .comment-content a {
    color: inherit;
  }

  a:hover,
  .comment-content a:hover {
    color: inherit;
  }

  blockquote {
    font-size: 24px;
  }

  blockquote cite,
  blockquote small {
    font-size: 16px;
  }

  img.alignleft,
  .wp-caption.alignleft {
    margin-left: -60px;
  }

  img.alignright,
  .wp-caption.alignright {
    margin-right: -60px;
  }
}
