/*--- Template Code For Category & Tag Page ---*/

header.bkbm-single-header,
header.bkbm-archive-header {
  clear: both;
}

h1.bkbm-single-title,
h1.bkbm-archive-title {
  margin-bottom: 16px;
  display: block;
  font-size: 28px;
  line-height: 32px;
}

div.bkbm-archive-meta {
  margin: 0 0 16px 0px;
  font-size: inherit;
  font-style: normal;
  line-height: 1.5em;
}

div.bkb-taxonomy-content {
  padding: 0 0px 0 0;

  .bkb-live-search-form {
    margin-bottom: 12px;
  }

  ol.rounded-list li {
    margin: 5px 0 5px 16px;
  }

  .rounded-list a,
  .rounded-list a:visited {
    padding: 0.7em 0.4em 0.7em 2em;
  }

  ol.rectangle-list li {
    margin: 5px 0 7px 16px;
  }

  .rectangle-list a,
  .rectangle-list a:visited {
    padding: 0.5em 0.4em 0.5em 2em;
  }

  .iconized-list a,
  .iconized-list a:visited {
    padding: 0.3em 0em 0.3em 0em;
  }

  ol.none-list li {
    margin: 5px 0 12px 0px;
  }
  .none-list a,
  .none-list a:visited {
    padding: 0.3em 0em 0.3em 0em;
  }
}
