/*--- Widget Area ---*/

aside.bkb-custom-sidebar {
  line-height: 24px;
  margin-bottom: 24px;
}

aside.bkb-custom-sidebar .widget-title {
  font-size: 24px;
  margin-bottom: 12px;
}

aside.bkb-custom-sidebar a {
  font-size: inherit;
  line-height: 24px;
  color: inherit;
}

aside.bkb-custom-sidebar ul.bkb-widget li {
  margin: 12px 0;
}
